# =============================
# SECRETS & CERTIFICATS PRIVÉS
# =============================
*.key
*.pem
*.p12
*.pfx
pki/certificates/private/
pki/vault/tokens/
vault-token.txt
.vault-token

# =============================
# PYTHON
# =============================
__pycache__/
*.pyc
*.pyo
*.pyd
.env
.env.*
venv/
.venv/
env/
*.egg-info/
dist/
build/
.pytest_cache/

# =============================
# JUPYTER NOTEBOOK
# =============================
.ipynb_checkpoints/
*.ipynb_checkpoints

# =============================
# DOCKER
# =============================
.docker/
docker-compose.override.yml

# =============================
# WINDOWS
# =============================
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# =============================
# IDE / EDITEURS
# =============================
.vscode/
.idea/
*.swp
*.swo
*~

# =============================
# DONNÉES VOLUMINEUSES
# =============================
datasets/raw/
*.pcap
*.pcapng
*.cap
results/raw/

# =============================
# LOGS
# =============================
*.log
logs/

# =============================
# GNS3
# =============================
*.gns3
GNS3/projects/


# =============================
plantuml.jar
